* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
:root {
  --text-navbar: #eee;
  --icons-slider: rgba(0, 0, 0, 0.3);
  --icons-sliderHover: rgba(0, 0, 0, 0.8);
  --back-grey: #bdc0c0;
  --marcari: #e84393;
}
::selection {
  background-color: var(--marcari);
  color: white;
}
.link {
  cursor: pointer;
}
.navbar {
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  left: 0;
  padding: 20px;
  background-color: transparent;
  user-select: none;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li {
  display: inline-block;
  padding: 20px;
}
.navbar li .link:active {
  color: #000;
}
.navbar a {
  text-decoration: none;
  color: var(--text-navbar);
  font-weight: bold;
  font-size: 0.9rem;
}

.navbar__scrolled {
  position: fixed;
  transition: 0.7s;
  background-color: var(--back-grey);
  padding: 5px;
}
.navbar__scrolled a:hover {
  transition: 0.5s;
  color: #fff;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: #fff;
  position: absolute;
  cursor: pointer;
  right: 10%;
  margin: 15px;
}
.ig-icon,
.fb-icon {
  height: 35px;
  width: 35px;
}

.burguer {
  @media (min-width: 920px) {
    display: none;
  }
}
.logo-navbar {
  float: left;
  margin-left: 25px;
  margin-top: 10px;
  cursor: pointer;
  width: 250px;
}
.carousel {
  height: 100vh;
  width: 100%;
}
@media (max-width: 1068px) {
  .navbar ul li {
    padding: 10px;
  }
}
@media (max-width: 991.98px) {
  .navbar {
    background-color: var(--back-grey);
    padding: 20px;
  }
  .logo-navbar {
    margin-left: 0;
  }
  .navbar a:hover {
    color: #fff;
    transition: 0.5s;
  }
  .navbar__scrolled {
    padding: 10px;
  }
  .navbar ul {
    display: block;
  }
  .navbar ul li {
    padding: 20px;
    margin-top: 15px;
  }

  .navbar li {
    display: block;
  }
  .active {
    display: none;
  }

  .burguer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 15px;
  }
  .social-icons {
    color: #fff;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    right: 20%;
  }
  .ig-icon,
  .fb-icon {
    height: 28px;
    width: 28px;
  }
  .carousel-icon-left,
  .carousel-icon-right {
    background-color: var(--icons-slider);
    color: #fff;
    width: 30px;
    height: 30px;
    top: 25%;
  }
  .pan,
  .confiteria,
  .sandwicheria {
    width: 100% !important;
    height: 300px !important;
  }

  .text-list {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 50px !important;
  }
  .row-reverse {
    display: flex;
    flex-wrap: wrap !important;
  }
}

.carousel-icon-left,
.carousel-icon-right {
  z-index: 10;
  background-color: var(--icons-slider);
  color: #fff;
  width: 52px;
  height: 52px;
  cursor: pointer;
  border: 0;
  border-radius: 0 3px 3px 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-icon-left {
  left: 0;
}
.carousel-icon-right {
  right: 0;
}
.carousel-icon-left:hover,
.carousel-icon-right:hover {
  background-color: var(--icons-sliderHover);
}
.fade {
  font-size: 2rem;
}

.fade:hover {
  opacity: 0.8;
}
.container-products {
  padding: 30px;
  user-select: var(--marcari);
  background-color: var(--back-grey);
  text-align: center;
}
.subContainer-products {
  background-color: #fff;
  padding: 50px;
  border-radius: 10px 20px 10px 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 3, 0.2);
}
h3 {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 45px;
}
h5 {
  font-size: 25px;
  font-weight: 500;
  font-family: "Great Vibes", cursive;
  color: var(--marcari);
}

.container-list {
  align-items: stretch !important;
}
.row {
  display: flex;
  flex-wrap: wrap-reverse;
}
.row-reverse {
  display: flex;
  flex-wrap: wrap-reverse;
}

.text-list {
  flex: 1;
  text-align: center;
  margin-top: 100px;
}
.text-list h3 {
  color: var(--marcari);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.text-list p {
  letter-spacing: 1px;
  margin-bottom: 10px;
  padding: 10px;
}
.pan {
  background-image: url("./assets/img/pan.jpg");
  height: 350px;
  width: 50%;
  background-size: cover;
}
.confiteria {
  background-image: url("./assets/img/facturas.JPG");
  height: 350px;
  width: 50%;
  background-size: cover;
}
.sandwicheria {
  background-image: url("./assets/img/carousel2.jpg");
  height: 350px;
  width: 50%;
  background-size: cover;
}
