* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  left: 0;
  padding: 20px;
  background-color: transparent;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li {
  display: inline-block;
  padding: 20px;
}

.navbar a {
  text-decoration: none;
  color: #eee;
  font-weight: bold;
  font-size: 0.9rem;
}

.navbar__scrolled {
  position: fixed;
  transition: 1s;
  background-color: #bdc3c7;
  padding: 5px;
}
.navbar__scrolled a:hover {
  transition: 0.5s;
  color: #fff;
}

.social-icons {
  display: flex;
  justify-content: space-between;

  gap: 20px;
  color: #fff;
  position: absolute;
  cursor: pointer;
  right: 10%;
  margin: 15px;
}
.ig-icon,
.fb-icon {
  height: 35px;
  width: 35px;
}

.burguer {
  @media (min-width: 920px) {
    display: none;
  }
}
.logo-navbar {
  float: left;
  margin-left: 25px;
  margin-top: 10px;
  cursor: pointer;
  width: 250px;
}
@media (max-width: 1068px) {
  .navbar ul li {
    padding: 10px;
  }
}
@media (max-width: 991.98px) {
  .navbar {
    background-color: #bdc3c7;
    padding: 10px;
  }
  .logo-navbar {
    margin-left: 0;
  }
  .navbar a:hover {
    color: #fff;
    transition: 0.5s;
  }
  .navbar__scrolled {
    padding: 10px;
  }
  .navbar ul {
    display: block;
  }
  .navbar ul li {
    padding: 15px;
  }
  .navbar li {
    display: block;
  }
  .active {
    display: none;
  }

  .burguer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 15px;
  }
  .social-icons {
    color: #fff;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    right: 20%;
  }
  .ig-icon,
  .fb-icon {
    height: 35px;
    width: 35px;
  }
  .carousel-icon-left,
  .carousel-icon-right {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    width: 30px;
    height: 30px;
    top: 25%;
  }
}

/* .carousel-img {
  user-select: none;
  width: 100%;
  height: 100vh;
  opacity: 1;
}
.carousel-img.visible {
  transition: opacity 0.5s ease-in-out;
} */

.carousel-icon-left,
.carousel-icon-right {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  width: 52px;
  height: 52px;
  cursor: pointer;
  border: 0;
  border-radius: 0 3px 3px 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-icon-left {
  left: 0;
}
.carousel-icon-right {
  right: 0; /* Ajusta la posición derecha según tus necesidades */
}
.fade {
  /* transition: opacity 0.5s ease-in-out; */
  font-size: 2rem;
}

.fade:hover {
  opacity: 0.8;
}
