* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
:root {
  --text-navbar: #eee;
  --icons-slider: rgba(0, 0, 0, 0.3);
  --icons-sliderHover: rgba(0, 0, 0, 0.8);
  --back-grey: #bdc0c0;
  --marcari: #e84393;
}
::selection {
  background-color: var(--marcari);
  color: white;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.link {
  cursor: pointer;
}
.navbar {
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  left: 0;
  padding: 20px;
  background-color: transparent;
  user-select: none;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li {
  display: inline-block;
  padding: 20px;
}
.navbar li .link:active {
  color: #000;
}
.navbar a {
  text-decoration: none;
  color: var(--text-navbar);
  font-weight: bold;
  font-size: 0.9rem;
}

.navbar__scrolled {
  position: fixed;
  transition: 0.7s;
  background-color: var(--back-grey);
  padding: 5px;
}
.navbar__scrolled a:hover {
  transition: 0.5s;
  color: #fff;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: #fff;
  position: absolute;
  cursor: pointer;
  right: 10%;
  margin: 15px;
}
.ig-icon,
.fb-icon {
  height: 35px;
  width: 35px;
}

.burguer {
  @media (min-width: 920px) {
    display: none;
  }
}
.logo-navbar {
  float: left;
  margin-left: 25px;
  margin-top: 10px;
  cursor: pointer;
  width: 250px;
}
.carousel {
  height: 100vh;
  width: 100%;
}
/*RESPONSIVE */
@media (max-width: 1068px) {
  .navbar ul li {
    padding: 10px;
  }
}
@media (max-width: 720px) {
  .container-products {
    padding: 5px !important;
  }
  .subContainer-products {
    padding: 5px !important;
  }
  .subContainer-products h3 {
    font-size: 35px;
  }
  .container-lunch h2 {
    text-align: center;
  }
  .containerFooter {
    display: block !important;
  }
  .footerInformation {
    margin-top: 10px;
    margin-bottom: -30px;
  }
  .container {
    width: 100% !important;
  }
  .container p {
    text-align: center;
    width: 100% !important;
  }
  .footerInformation p {
    font-size: 15px;
    margin-top: 15px;
  }
  .logo-footer {
    width: 70% !important;
  }

  .productos-container {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .producto p {
    font-size: 10px !important;
  }
  .nombre-precio span {
    font-size: 14px !important;
  }
  .productos-tittle {
    width: 100% !important;
    height: 100px !important;
  }
  .productos-tittle .tittle-section {
    font-size: 25px !important;
  }
}
@media (max-width: 991.98px) {
  .navbar {
    background-color: var(--back-grey);
    padding: 20px;
  }
  .logo-navbar {
    margin-left: 0;
  }
  .navbar a:hover {
    color: #fff;
    transition: 0.5s;
  }
  .navbar__scrolled {
    padding: 10px;
  }
  .navbar ul {
    display: block;
  }
  .navbar ul li {
    padding: 20px;
    margin-top: 15px;
  }

  .navbar li {
    display: block;
  }
  .active {
    display: none;
  }

  .burguer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 15px;
  }
  .social-icons {
    color: #fff;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    right: 20%;
  }
  .ig-icon,
  .fb-icon {
    height: 28px;
    width: 28px;
  }
  .carousel-icon-left,
  .carousel-icon-right {
    background-color: var(--icons-slider);
    color: #fff;
    width: 30px;
    height: 30px;
    top: 25%;
  }
  .pan,
  .confiteria,
  .sandwicheria {
    width: 100% !important;
    height: 300px !important;
  }

  .text-list {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 50px !important;
  }
  .row-reverse {
    display: flex;
    flex-wrap: wrap !important;
  }
  .right-price {
    position: relative !important;
    margin-top: 10px !important;
  }
  .container-lunch p {
    font-size: 15px !important;
  }
  .container-lunch ul li h3 {
    font-size: 15px !important;
  }
  .container-lunch ul {
    margin-left: auto;
  }
  .price {
    font-size: 25px !important;
    padding: 5px !important;
    cursor: grab;
  }
  .location-container {
    flex-direction: column;
  }
  iframe {
    width: 100% !important;
  }
  .location-text {
    width: 100% !important;
  }
  .location-text {
    text-align: center;
  }
  .list-lunch {
    margin-right: auto;
  }
  .container-products {
    padding: 5px !important;
  }
  .subContainer-products {
    padding: 5px !important;
  }
  .subContainer-products h3 {
    font-size: 35px;
  }
  .container-lunch h2 {
    text-align: center;
  }
  .containerFooter {
    display: block !important;
  }
  .footerInformation {
    margin-top: 10px;
    margin-bottom: -30px;
  }
  .container {
    width: 100% !important;
  }
  .container p {
    text-align: center;
    width: 100% !important;
  }
  .footerInformation p {
    font-size: 15px;
    margin-top: 15px;
  }
  .logo-footer {
    width: 70% !important;
  }

  .productos-container {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .producto p {
    font-size: 10px !important;
  }
  .nombre-precio span {
    font-size: 14px !important;
  }
  .fondo {
    width: 300px !important;
    height: 100px !important;
  }
  .fondo h3 {
    font-size: 15px !important;
  }
}
/*RESPONSIVE */
.carousel-icon-left,
.carousel-icon-right {
  z-index: 10;
  background-color: var(--icons-slider);
  color: #fff;
  width: 52px;
  height: 52px;
  cursor: pointer;
  border: 0;
  border-radius: 0 3px 3px 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-icon-left {
  left: 0;
}
.carousel-icon-right {
  right: 0;
}
.carousel-icon-left:hover,
.carousel-icon-right:hover {
  background-color: var(--icons-sliderHover);
}
.fade {
  font-size: 2rem;
}

.fade:hover {
  opacity: 0.8;
}
.container-products {
  padding: 30px;
  user-select: var(--marcari);
  background-color: var(--back-grey);
  text-align: center;
}
.subContainer-products {
  background-color: #fff;
  padding: 50px;
  border-radius: 10px 20px 10px 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 3, 0.2);
}
h3 {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 45px;
}
h5 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: "Great Vibes", cursive;
  color: var(--marcari);
}

.container-list {
  align-items: stretch !important;
}
.row {
  display: flex;
  flex-wrap: wrap-reverse;
}
.row-reverse {
  display: flex;
  flex-wrap: wrap-reverse;
}

.text-list {
  flex: 1;
  text-align: center;
  margin-top: 100px;
}
.text-list h3 {
  color: var(--marcari);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.text-list p {
  letter-spacing: 1px;
  margin-bottom: 10px;
  padding: 10px;
}
.pan {
  background-image: url("./assets/img/pan.jpg");
  height: 350px;
  width: 50%;
  background-size: cover;
}
.confiteria {
  background-image: url("./assets/img/facturas.JPG");
  height: 350px;
  width: 50%;
  background-size: cover;
}
.sandwicheria {
  background-image: url("./assets/img/carousel2.jpg");
  height: 350px;
  width: 50%;
  background-size: cover;
}
.container-lunch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: text;
}
.container-lunch h2 {
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.container-lunch p {
  color: var(--marcari);
  font-size: 23px;
  font-weight: 500;
  font-family: "Montserrat Subrayada", sans-serif;
}
.container-lunch ul {
  margin-top: 20px;
  margin-bottom: 20px;
}
ul li {
  list-style-type: disc;
  color: var(--marcari);
  font-size: 25px;
}
.container-lunch ul li h3 {
  font-size: 25px;
  color: #000;
}
.list-lunch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.price {
  background-color: var(--marcari);
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 5px 10px;
  padding: 10px;
  cursor: grab;
}
.price:active {
  cursor: grabbing;
}
.right-price {
  position: absolute;
  top: 0;
  margin-top: 45px;
  right: 0;
}
.left-button {
  left: 0;
}

.right-button {
  right: 0;
}
.location-container {
  display: flex;
  box-shadow: 1px -4px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px -4px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px -4px 5px 0px rgba(0, 0, 0, 0.5);
}

iframe {
  width: 50%;
  height: 70vh;
  border: none;
  user-select: none;
}
.location-text {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.location-description {
  color: var(--marcari);
  text-align: center;
}
.location-description h2 {
  font-size: 40px;
  letter-spacing: 1px;
  padding: 10px;
}
.location-description p {
  font-size: 20px;
}

hr {
  width: 50%;
  margin: 20px auto;
}
.location-text p {
  font-size: 20px;
}
.icon {
  color: #bdc0c0;
}
.containerFooter {
  width: 100%;
  max-width: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 45px 0px;
  grid-auto-flow: column;
  background-color: #666666;
  color: #fff;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container p {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  width: 50%;
}
.logo-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  user-select: none;
}
.footerInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.copyright {
  color: #fff;
  background-color: #494949;
  text-align: center;
  padding: 20px 0px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.container-dulces {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fondo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e84393;
  width: 500px;
  height: 100px;
  padding: 10px;
  transform: skewX(-20deg);
  color: white;
}
.fondo h3 {
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
}

.productos-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin-top: 25px;
}

.producto {
  padding: 10px;
}

.nombre-precio {
  display: inline-block;
}

.nombre {
  font-size: 20px;
  letter-spacing: 1px;
}
.precio {
  color: var(--marcari);
  font-size: 20px;
  font-weight: 700;
}
.descr {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bolder;
}

.ver-mas-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 150px;
  height: 50px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: var(--marcari);
  z-index: 1;
}
.ver-mas-btn:hover:after {
  width: 100%;
  left: 0;
}
.ver-mas-btn:after {
  border-radius: 5px;
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  z-index: -1;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: #ff6392;
  right: 0;
}
